/* petList.css */
  .infinite-scroll-content {
    display: flex;
    flex-wrap: nowrap;
    animation: scroll 200s linear infinite;
  }
  
  .infinite-scroll-content::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }
  
  .infinite-scroll-content {
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }

  .no-scroll {
    display: flex;
    flex-wrap: nowrap;
    animation: scroll 0s linear infinite;
}
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  